@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Airline Service</h1>
    <!-- put image here-->
    <p class="lead">
        Eric Miller
        <br />Project 1
    </p>
    <hr class="my-4">
    <p>This is my airline service web app, made using ADO.NET.</p>
</div>
