@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Airline Service</h1>
    <p class="lead">
        Eric Miller
        <br />Project 1
    </p>
    <hr class="my-4">
    <p>This is my airline service web app, made using ADO.NET.</p>
</div>
<hr />
<div style="text-align:center">
    <h4>Database Diagram</h4>
    <img src="~/images/airline-database-diagram.png" alt="Airline database diagram" style="width:60%;height:60%;"/>
</div>
