@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<img src="~/images/cat-in-a-box.png" alt="Cat in a box"/>
<a href="https://www.shutterstock.com/image-photo/cardboard-box-cat-1060214777?src=rFraUygv61sxGXU6Ej-Hrg-1-60"> Source </a>
<hr />
<p>This is a cat in a box. There is no privacy here.</p>